SUPABASE_URL=https://hmywkhvozmiztmiveyzg.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhteXdraHZvem1penRtaXZleXpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDU1NDIsImV4cCI6MjA5MTMyMTU0Mn0.ihoCpLHpcv_Qaz4-5TqcEub0QxgJiUiXIL8VDJJQj8s
PORT=3001