SUPABASE_URL=https://nevynpfjebgkzzzgormp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ldnlucGZqZWJna3p6emdvcm1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MjgwMjgsImV4cCI6MjA5MTQwNDAyOH0.eO3bmSSsn4SEh2Jkw_Thhl6k5oiD4gViEIt2pIADtvM
PORT=3001

